<h2>
    <div class="row">
        <div class="col-3">
            Ratings
        </div>
        <div class="col-3">
            <% if (user) { %>
                <a href="<%= baseRatingLink %>/new" class="btn btn-xs btn-primary">+</a>
            <% } %>
        </div>
    </div>
</h2>
<% if (ratings.length) { %>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h4>Date</h4>
            </div>
            <div class="col-3">
                <h4>Rating</h4>
            </div>
            <div class="col-6">
                <h4>Comment</h4>
            </div>
        </div>
        <% ratings.forEach((rating) => { %>
            <div class="row">
                <div class="col-3">
                    <%- new Date(rating.createdAt).toLocaleDateString() %>
                </div>
                <div class="col-3">
                    <%= rating.rating %>
                </div>
                <div class="col-5">
                    <%= limitText(rating.comment, 30) %>
                </div>
                <div class="col-1">
                    <a class="btn btn-primary float-right" href="<%= baseRatingLink %>/<%= rating._id %>">View</a> 
                </div>
            </div>
        <% }); %>
    </div>
<% } %>
