<% include ./partials/header %>

    <h2 class="row-header">Gaming for Good</h2> 
    <p>
        Welcome to PlayVested!  Help us make the world a little better every day through gaming.
    </p>

    <br>

    <% if (user) { %>
        <% if (invitations && invitations.length) { %>
            <h2 class="row-header">Pending Friend Invitations</h2>
            <% invitations.forEach((invitation) => { %>
                <div class="row">
                    <div class="col">
                        <%= invitation.invitedBy.getDisplayName() %>
                    </div>
                    <div class="col">
                        <a href="/friends/<%= invitation.invitedBy._id %>/accept">
                            <i class="far fa-check-circle w3-large w3-text-green"> Accept </i>
                        </a>
                        <a href="/friends/<%= invitation.invitedBy._id %>/reject" class="float-right">
                            <i class="far fa-trash-alt w3-large w3-text-red"> Reject </i>
                        </a>
                    </div>
                    <div class="col">
                    </div>
                </div>
            <% }); %>
            <br>
        <% } %>

        <% if (verifications && verifications.length) { %>
            <h2 class="row-header">Pending Companies to Verify</h2>
            <% verifications.forEach((verify) => { %>
                <div class="row">
                    <div class="col">
                        <%= verify.getDisplayName() %>
                    </div>
                    <div class="col">
                        <a href="/verify/accept/<%= verify._id %>">
                            <i class="far fa-check-circle w3-large w3-text-green"> Accept </i>
                        </a>
                        <a href="/verify/reject/<%= verify._id %>" class="float-right">
                            <i class="far fa-trash-alt w3-large w3-text-red"> Reject </i>
                        </a>
                    </div>
                    <div class="col">
                    </div>
                </div>
            <% }); %>
            <br>
        <% } %>

        <% if (files && files.length) { %>
            <h2 class="row-header">Unity Examples</h2>
            <% files.forEach((file) => { %>
                <div class="mb-2">
                    <a href="<%= file.filename %>" class="w3-button w3-blue mr-2">Download</a>
                    <%= file.desc %>
                    [ Last Updated: <%= file.date %> ]
                </div>
            <% }); 
        } %>
    <% } else { %>
        <br>
        
        <div class="homepage-container">
            <h2>Get started by creating an account or signing in</h2>
            <div class="homepage-container">
                <a class="w3-button w3-blue homepage-button" href="/register">sign up</a>
            </div>
            <div class="homepage-container">
                <a class="w3-button w3-gray homepage-button" href="/login">login</a>
            </div>
        </div>
    <% } %>

<% include ./partials/footer %>