<% include ../partials/header %>

    <a href="javascript:history.back()">Back</a>

    <div>
        <h1 class="page-header">
            Rating for 
            <% if (typeof menuItem !== 'undefined') { %>
                <%= menuItem %>
            <% } else { %>
                <%= restaurant %>
            <% } %>
        </h1>
        <div class="item-action">
            <form class="delete-item" action="<%= restaurantRoute %><%= menuItemRoute %>/ratings/<%= rating._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="item-action">
            <a href="<%= restaurantRoute %><%= menuItemRoute %>/ratings/<%= rating._id %>/edit" class="btn btn-warning">Edit</a>
        </div>
    
        <div class="container">
            <h2>Rating</h2>
            <div>
                <%= rating.rating %>
            </div>

            <h2>Comment</h2>
            <div>
                <%= rating.comment %>
            </div>
        </div>
    </div>

<% include ../partials/footer %>
