<% include ../partials/header %>

    <a href="/developers">Back</a>
    <div>
        <div class="page-header">
            <% if (isOwner) { %>
                <h2>
                    ID: <%= developer._id %>
                </h2>
            <% } %>
            <h2>
                Company Name: <%= developer.companyName %>
            </h2>
            <h2>
                Phone Number: <%= developer.phoneNumber %>
            </h2>
            <h2>
                Address: <%= developer.address %>
            </h2>
            <h2>
                City: <%= developer.city %>
            </h2>
            <h2>
                State: <%= developer.state %>
            </h2>
            <h2>
                Zipcode: <%= developer.zipcode %>
            </h2>
            <a href="/developers/<%= developer._id %>/games" class="w3-button w3-large w3-blue">Games</a>
        </div>
        <% if (isOwner) { %>
            <div class="item-action">
                <form class="delete-item" action="/developers/<%= developer._id %>?_method=DELETE" method="POST"
                    onsubmit="return confirm(`Are you sure you want to delete this developer?`)">
                    <button class="w3-button w3-red">Delete</button>
                </form>
            </div>
            <div class="item-action">
                <a href="/developers/<%= developer._id %>/edit" class="w3-button w3-yellow">Edit</a>
            </div>
        <% } %>
    </div>
    <div>
        <% if (isOwner) { %>
            <br>

            <div class="row row-header">
                <div class="col-sm-10">
                    <h2 class="page-header">Owners:</h2>
                </div>
                <div class="col add-friend">
                    <a href="/invitations/developer/<%= developer._id %>" class="w3-button w3-green">+</a>
                </div>
            </div>
            <br>
            <% developer.ownerID.forEach((owner) => { %>
                <div class="row row-content">
                    <div class="col-sm-5">
                        <strong>
                            <%= owner.getDisplayName() %>
                        </strong>
                    </div>
                    <div class="col-sm-5">
                        <strong>
                            <%= owner.username %>
                        </strong>
                    </div>
                    <div class="col-sm-2">
                        <% if (developer.ownerID.length > 1) { %>
                            <form class="delete-item" action="/developers/<%= developer._id %>/owner/<%= owner._id %>?_method=DELETE" method="POST"
                                onsubmit="return confirm('Are you sure you want to remove <%= owner.getDisplayName() %> as an owner?');">
                                <button type="submit" class="w3-button w3-red"><i class="fa fa-trash w3-small"></i></button>
                            </form>
                        <% } %>
                    </div>
                </div>
            <% }); %>
        <% } %>
    </div>

<% include ../partials/footer %>
