<% include ../partials/header %>

    <a href="/">Back</a>
    <script>
        function deleteConfirm() {
            return confirm(`Are you sure you want to delete this game?`);
        }
    </script>

    <div>
        <div class="page-header">
            <h2>
                Company Name: <%= game.companyName %>
            </h2>
            <h2>
                Phone Number: <%= game.phoneNumber %>
            </h2>
            <h2>
                Address: <%= game.address %>
            </h2>
            <h2>
                City: <%= game.city %>
            </h2>
            <h2>
                State: <%= game.state %>
            </h2>
            <h2>
                Zipcode: <%= game.zipcode %>
            </h2>
        </div>
        <div class="item-action">
            <form class="delete-item" action="/games/<%= game._id %>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="item-action">
            <a href="/games/<%= game._id %>/edit" class="btn btn-warning">Edit</a>
        </div>
    
        <!-- <div class="row">
            <div class="col">
                <h2 class="page-header">Members</h2>
            </div>
            <div class="col">
                <a href="/games/<%= game._id %>/member/new" class="btn btn-primary">Add Member</a>
            </div>
        </div>
        <div class="container">
            <% game.friends.forEach((friend) => { %>
                <div class="row">
                    <div class="col">
                        <a href="/games/<%= game._id %>/friends/<%= friend._id %>">
                            <%= friend.getDisplayName() %>
                        </a>
                    </div>
                    <div class="col">
                            <form class="delete-item" action="/games/<%= game._id %>/friends/<%= friend._id %>?_method=DELETE" method="POST" onsubmit="return deleteConfirm()">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div> -->
    </div>

<% include ../partials/footer %>
