<% include ../partials/header %>

    <h1>This is the <%= type.toLowerCase() %> index page</h1>

    <div class="row">
        <div class="col-lg-6">
            <ul>
            <% companies.forEach((company) => { %>
                <li>
                    <a href="/<%= route %>/<%= company._id %>">
                        <%= company.getDisplayName() %>
                    </a>
                </li>
            <% }); %>
            </ul>

            <% if (user) { %>
                <a href="/<%= route %>/new" class="w3-button w3-large w3-blue">Add <%= type %></a>
            <% } %>
        </div>
    </div>

<% include ../partials/footer %>
