<% include ../partials/header %>
<script>
    function newAllocation(select) {
        let charityList = document.querySelector('#charityList');
        if (charityList) {
            const charityName = select.options[select.selectedIndex].textContent;
            const charityID = select.options[select.selectedIndex].value;

            let divRow = document.createElement("div");
            divRow.classList.add("row");
            charityList.appendChild(divRow);

            let divCol = document.createElement("div");
            divCol.classList.add("col");
            divCol.textContent = charityName;
            divRow.appendChild(divCol);

            divCol = document.createElement("div");
            divCol.classList.add("col");
            divRow.appendChild(divCol);

            let input = document.createElement("input");
            input.type = "number";
            input.name = `allocations[${charityID}]`;
            input.value = 0;
            divCol.appendChild(input);
            divCol.appendChild(document.createTextNode("%"));

            divCol = document.createElement("div");
            divCol.classList.add("col");
            divRow.appendChild(divCol);

            divCol = document.createElement("div");
            divCol.classList.add("col");
            divRow.appendChild(divCol);

            select.removeChild(select.options[select.selectedIndex]);

            if (select.options.length === 1) {
                select.style.display = "none";
            }
        }

        select.selectedIndex = 0;
    }
</script>

    <a href="/">Back</a>
    <div>
        <div class="page-header">
            <h2>
                Email: <%= user.username %>
            </h2>
            <h2>
                First Name: <%= user.firstName %>
            </h2>
            <h2>
                Last Name: <%= user.lastName %>
            </h2>
        </div>
        <div class="item-action">
            <form class="delete-item" action="/users/<%= user._id %>?_method=DELETE" method="POST"
                onsubmit="return confirm(`Are you sure you want to delete your account?`)">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="item-action">
            <a href="/users/<%= user._id %>/edit" class="btn btn-warning">Edit</a>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="page-header">Records</h2>
            </div>
        </div>
        <div class="container">
            <% records.forEach((record) => { %>
                <div class="row row-content">
                    <div class="col">
                        <%= new Date(record.createdAt).toDateString() %>
                    </div>
                    <div class="col">
                        <%= (record.gameID ? record.gameID.name : 'UNKNOWN') %>
                    </div>
                    <div class="col">
                        $<%= record.amountEarned %>
                    </div>
                    <div class="col">
                        <form class="delete-item" action="/records/<%= record._id %>?_method=DELETE" method="POST"
                            onsubmit="return confirm(`Are you sure you want to delete this record?`)">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="page-header">Allocations</h2>
            </div>
        </div>
        <div class="container">
            <form class="form-inline" action="/allocations/bulk?_method=PUT" method="POST">
                <div id="charityList" class="full-width">
                    <% allocations.forEach((allocation) => { %>
                        <div class="row row-content">
                            <div class="col-sm-3">
                                <%= allocation.charityID.organizationName %>
                            </div>
                            <div class="col">
                                <input type="number" name="allocations[<%= allocation._id %>]" value="<%= allocation.percentage %>" class="allocation-input">
                                <span>%</span>
                            </div>
                        </div>
                    <% }); %>
                </div>
                <div class="full-width">
                    <div class="row">
                        <div class="col-sm-3">
                            <% if (charities && charities.length > 0) { %>
                                <select name="charity" id="charityDropdown" onchange="newAllocation(this)">
                                    <option value="" disabled selected>Add Charity</option>
                                    <% charities.forEach((charity) => { %>
                                        <option value="<%= charity._id %>">
                                            <%= charity.organizationName %>
                                        </option>
                                    <% }); %>
                                </select>
                            <% } %>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-sm-2">
                <h2 class="page-header">Friends</h2>
            </div>
            <div class="col add-friend">
                <a href="/friends/new" class="btn btn-success">+</a>
            </div>
        </div>
        <div class="container">
            <% user.friends.forEach((friend) => { %>
                <div class="row row-content">
                    <div class="col-sm-9">
                        <a href="/friends/<%= friend._id %>">
                            <%= friend.getDisplayName() %>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <form class="delete-item" action="/friends/<%= friend._id %>?_method=DELETE" method="POST"
                            onsubmit="return confirm(`Are you sure you want to delete this friend?`)">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer %>
