<% include ../partials/header %>

    <a href="/">Back</a>
    <div>
        <div class="page-header">
            <h2>
                Email: <%= user.username %>
            </h2>
            <h2>
                First Name: <%= user.firstName %>
            </h2>
            <h2>
                Last Name: <%= user.lastName %>
            </h2>
        </div>
        <div class="item-action">
            <form class="delete-item" action="/users/<%= user._id %>?_method=DELETE" method="POST"
                onsubmit="return confirm(`Are you sure you want to delete your account?`)">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
        <div class="item-action">
            <a href="/users/<%= user._id %>/edit" class="btn btn-warning">Edit</a>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="page-header">Records</h2>
            </div>
        </div>
        <div class="container">
            <% records.forEach((record) => { %>
                <div class="row">
                    <div class="col">
                        <%= new Date(record.createdAt).toDateString() %>
                    </div>
                    <div class="col">
                        <%= (record.gameID ? record.gameID.name : 'UNKNOWN') %>
                    </div>
                    <div class="col">
                        $<%= record.amountEarned %>
                    </div>
                    <div class="col">
                        <form class="delete-item" action="/records/<%= record._id %>?_method=DELETE" method="POST"
                            onsubmit="return confirm(`Are you sure you want to delete this record?`)">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="page-header">Allocations</h2>
            </div>
        </div>
        <div class="container">
            <% allocations.forEach((allocation) => { %>
            <div class="row">
                <div class="col">
                    <%= allocation.organizationName %>
                </div>
                <div class="col">
                    <%= allocation.percentage %>%
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <form class="delete-item" action="/allocations/<%= allocation._id %>?_method=DELETE" method="POST"
                        onsubmit="return confirm(`Are you sure you want to delete this allocation?`)">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <% }); %>
        </div>

        <div class="row">
            <div class="col">
                <h2 class="page-header">Friends</h2>
            </div>
            <div class="col">
                <a href="/users/<%= user._id %>/friends/new" class="btn btn-primary">Add Friend</a>
            </div>
        </div>
        <div class="container">
            <% user.friends.forEach((friend) => { %>
                <div class="row">
                    <div class="col">
                        <a href="/users/<%= user._id %>/friends/<%= friend._id %>">
                            <%= friend.getDisplayName() %>
                        </a>
                    </div>
                    <div class="col">
                        <form class="delete-item" action="/users/<%= user._id %>/friends/<%= friend._id %>?_method=DELETE" method="POST"
                            onsubmit="return confirm(`Are you sure you want to delete this friend?`)">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

<% include ../partials/footer %>
