<% include ../partials/header %>

<div class="new-item-form">
    <form class="form-inline" action="/restaurants/<%= restaurant._id %>/checkin" method="POST">
        <!-- over all rating for the restaurant -->
        <div style="text-align:center">
            <h4>How was your overall meal?</h4>
        </div>
        <div class="form-group">
            <input class="form-control" type="number" min="0" max="5" step="0.1" name="<%= restaurant._id %>[rating]" placeholder="Rating" autofocus>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="<%= restaurant._id %>[comment]" placeholder="Comment">
        </div>

        <!-- menu item list as radio buttons w/ hidden rating and comment section -->
        <div style="text-align:center">
            <h4>What did you have to eat?</h4>
        </div>
        <% restaurant.menuItems.forEach((menuItem) => { %>
            <div class="checkin-item">
                <input class="form-control" type="checkbox" name="<%= menuItem._id %>[checked]" value="<%= menuItem._id %>" onclick="toggleMenuItem(this.value)">
                <%= menuItem.name %>
                <div id="<%= menuItem._id %>" hidden>
                    <div class="form-group">
                        <input class="form-control" type="number" min="0" max="5" step="0.1" name="<%= menuItem._id %>[rating]" placeholder="Rating">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="<%= menuItem._id %>[comment]" placeholder="Comment">
                    </div>
                </div>
            </div>
        <% }); %>

        <% include ../partials/formButtons %>
    </form>
</div>

<script type="text/javascript" src="/script/checkin.js"></script>

<% include ../partials/footer %>
